# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
/media/
/staticfiles/

# Virtual environment
venv/
.venv/
env/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
package-lock.json
package.json

# IDE / OS
.vscode/
.idea/
.DS_Store

# Django settings with secrets
eticket/settings.py
